<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipd.taixiuser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".platform.global.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity-alias
            android:name=".launcher"
            android:targetActivity=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".ui.SplashActivity" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />


        <!-- account -->
        <activity android:name=".ui.activity.account.LoginActivity" />
        <activity android:name=".ui.activity.account.RegisterActivity" />
        <activity android:name=".ui.activity.account.LostPwdActivity" />

        <!-- home -->
        <activity android:name=".ui.activity.home.QuestionActivity" />
        <activity android:name=".ui.activity.home.SystemMessageActivity" />
        <activity android:name=".ui.activity.home.HomeActionActivity" />

        <!-- matter -->
        <activity android:name=".ui.activity.matter.MatterDetailActivity" />

        <!-- businessSchool -->
        <activity android:name=".ui.activity.businessschool.BusinessSchoolDetailActivity" />

        <!-- manage -->
        <activity android:name=".ui.activity.manage.MineCustomerActivity" />
        <activity android:name=".ui.activity.manage.NewCustomerActivity" />
        <activity android:name=".ui.activity.manage.CustomerInfoActivity" />
        <activity android:name=".ui.activity.manage.RetailActivity" />
        <activity android:name=".ui.activity.manage.ShipOrderActivity" />
        <activity android:name=".ui.activity.manage.MineTeamActivity" />
        <activity android:name=".ui.activity.manage.ProxyListActivity" />
        <activity android:name=".ui.activity.manage.ProxyInfoActivity" />
        <activity android:name=".ui.activity.manage.ProxyTransferActivity" />
        <activity android:name=".ui.activity.manage.ConfirmTransferActivity" />
        <activity android:name=".ui.activity.manage.FactoryShipActivity" />
        <activity android:name=".ui.activity.manage.FactoryShipPayActivity" />
        <activity android:name=".ui.activity.manage.PayResultActivity" />
        <activity android:name=".ui.activity.manage.MoveStockActivity" />
        <activity android:name=".ui.activity.manage.MoveStockProductActivity" />
        <activity android:name=".ui.activity.manage.MoveStockConfirmActivity" />
        <activity android:name=".ui.activity.manage.MoveStockHistoryActivity" />
        <activity android:name=".ui.activity.manage.StockRecordActivity" />
        <activity android:name=".ui.activity.manage.EarningsActivity" />
        <activity android:name=".ui.activity.manage.StoreActivity" />
        <activity android:name=".ui.activity.manage.StorePayActivity" />
        <activity android:name=".ui.activity.manage.LeaderReplenishActivity" />
        <activity android:name=".ui.activity.manage.ProxyReplenishActivity" />
        <activity android:name=".ui.activity.manage.JoinProxyActivity" />
        <activity android:name=".ui.activity.manage.PromoteActivity" />

        <!-- order -->
        <activity android:name=".ui.activity.order.OrderActivity" />
        <activity android:name=".ui.activity.order.OrderDetailActivity" />

        <!-- mine -->
        <activity android:name=".ui.activity.mine.MyWalletActivity" />
        <activity android:name=".ui.activity.mine.WithDrawActivity" />
        <activity android:name=".ui.activity.mine.WithdrawProgressActivity" />
        <activity android:name=".ui.activity.mine.WithdrawProgressDetailActivity" />
        <activity android:name=".ui.activity.mine.ChooseBankCardActivity" />
        <activity android:name=".ui.activity.mine.NewBankCardActivity" />
        <activity android:name=".ui.activity.mine.MyCollectActivity" />
        <activity android:name=".ui.activity.mine.CustomerTransferRecordActivity" />
        <activity android:name=".ui.activity.mine.SettingActivity" />


        <activity android:name=".ui.activity.web.WebActivity" />

    </application>

</manifest>